html
    title SnakePvp
    body
        .create-room-wizard
            button(class='create-room btn') create room
            input(class='room-name')
        canvas(class="main-canvas")
        button(class="start-game btn") Start Game
        ul(class='actions')

         
